@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* GLOBAL CSS RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

/*---------------------------------- CSS FOR HERO SECTION --------------------------------------*/
.hero-section {
    padding: 20px 130px 0 130px; 
    background-color: #0B132B;
    color: #FFF;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-logo {
    font-size: 24px;
}

.links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.links a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

/* HERO */
.hero {
    padding: 100px 0;
    display: flex;
    gap: 50px;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
}

.hero-subtitle {
    font-size: 18px;
    color: #E5E7EB;
    margin: 20px 0 25px 0;
    line-height: 1.5;
}

.btn {
    background-color: #00AEEF;
    color: #FFF;
    border: 0;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    width: 130px;
}

.hero-img {
    width: 450px;
}

/*---------------------------------- CSS FOR CARD SECTION --------------------------------------*/
.card-section-title {
    font-size: 36px;
    color: #0B132B;
    font-weight: 900;
    text-align: center;
    margin-top: 40px;
}

/* CARD CONTAINER */
.card-container {
    display: flex;
    height: 350px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    margin-bottom: 60px;
}

.card {
    flex-basis: 200px;
}

.card img {
    max-width: 100%;
    display: block;
    margin-bottom: 15px;
}

/*---------------------------------- CSS FOR TESTIMONIAL SECTION -------------------------------*/
.testimonial-section {
    background-color: #E5E7EB;
    color: #0B132B;
    font-weight: 300;
    font-style: italic;
    font-size: 36px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.quote-person {
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    margin-left: auto;
    width: max-content;
    margin-top: 10px;
}

/*---------------------------------- CSS FOR CTA SECTION ---------------------------------------*/
.CTA-section {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CTA~Call To Action CONTAINER */
.CTA-container {
    background-color: #00AEEF;
    color: #FFF;
    border-radius: 10px;
    padding: 40px 150px;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CTA-title {
    font-size: 22px;
    line-height: 1.6;
}

.CTA-subtitle {
    color: #E5E7EB;
}

.CTA-button {
    border: 2px solid;
}

/*---------------------------------- CSS FOR FOOTER ---------------------------------------*/
.footer-section {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    background-color: #0B132B;
    font-size: 20px;
}